/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Zilla Slab', serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(173, 173, 173);
}

.description_p {
    color: #3ac0af; 
}

/* TRANSITION */
a, 
.btn {
    transition: all 300ms ease;
}

/* SECTION PROPERTIES */ 



/* PAGE HEADER */

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* LANGUAGE SELECTION */

.language-selection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    float: left;
    padding: 2rem;
    z-index: 1;
    background: black;
}

.language-selection a{
    text-decoration: none;
    font-size: 1.5rem;
    color: aliceblue;
}

.language-selection .active{
    color: #3ac0af; 
    cursor: default;
}

.menu-hover:hover{
    cursor: pointer;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;                       /* % da página para o menu superior */
}

.nav-links{
    gap: 2rem; 
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: aliceblue; 
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #3ac0af; 
}

.logo{
    font-size: 2.5rem;
}

.logo:hover{
    cursor:default; 
}

/* HORIZONTAL LINES MENU */

#nav-horizontal-lines {
    display: none;
}

.horizontal-lines-menu {
    position: relative;
    display: inline-block;
}

.horizontal-lines-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.horizontal-lines-icon span {
    width: 100%;
    height: 2px;
    transition: all 0.3 ease-in-out;
    background-color: aliceblue;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
    color: aliceblue; 
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover{
    color: #3ac0af;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.horizontal-lines-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.horizontal-lines-icon.open span:nth-child(2) {
    opacity: 0;
}

.horizontal-lines-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.horizontal-lines-icon span:first-child {
    transform: none;
}

.horizontal-lines-icon span:first-child {
    opacity: 1;
}

.horizontal-lines-icon span:first-child {
    transform: none;
}

/* -------- */
/* SECTIONS */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem; 
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */ 

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem; 
    height: 80vh;
}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    color: #3ac0af; 
    align-self: center;
    text-align: center;
}

.section_text_p {
    color: aliceblue;
    font-weight: 500;
}

.section_text_p1 {
    color: aliceblue; 
    text-align: center;
}

.section_text_p2 {
    color: aliceblue;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #3ac0af; 
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 100ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: aliceblue 0.1rem solid; 
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: #3ac0af;
    color: black;
    border: black 0.1rem solid; 
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
    border: aliceblue 0.1rem solid;
    color: aliceblue;
}

.btn-color-2 {
    background: none;
    color: aliceblue;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem; 
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: black;
    color: aliceblue;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-text {
    font-size: large;
    text-align: justify;
}

.about-pic {
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: black;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    color: aliceblue;
    text-align: center;
    position: static;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
}

.experience-sub-title {
    color: aliceblue; 
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
}

.about-horizontal-container {
    display: grid;
    gap: 2rem;
    flex: 1;
}

.article-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem; 
    justify-content: space-around;
    color: aliceblue;
}

.article-container-text {
    display: flex;
    flex: 1;
    text-align: justify;
    gap: 2.5rem; 
    justify-content: space-around;
    color: aliceblue;
}

article {
    display: flex;
    flex: 1;
    width: 10rem;
    text-align: initial;
    gap: 0.5rem;
}

article.icon {
    cursor: default;
}

.article-container-image img{
    width: 50%;
    height: 5%;
}
  
/* PROJECTS */

#projects{
    position: relative;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;
    scrollbar-color: black;
}

.card {
    padding: 1rem;
    position: static;
    background: black;
    box-shadow: 0 5px 25px #3ac0af;
    border-radius: 25px;
    width: 50vh;
}

/*
.card.active {
    animation: bounce 1s linear;
}
*/

.card img {
    position: relative;
    height: 35vh;
    width: 35vh;
}
.card-content {
    position: relative;
    text-align: center;
    margin: 15px;
    width: 50vh;
}


@keyframes bounce {
    20%, 50%, 80%, to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(15px);
    }
    70%{
        transform: translateY(10px);
    }
    90%{
        transform: translateY(4px);
    }
}

.card-content .text {
    margin: 1rem;
    position: relative;
    font-size: .9;
    text-align: justify;
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
    color: rgb(173, 173, 173); 
}

.card-content .text:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.card.gradient .card-content .text:before{
    display: block;
}

.card-content .btn-see-more {
    font-size: .85em;
    color: #111;
    user-select: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.card-content .btn-see-more:hover{
    color: aliceblue;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250); 
}

.project-img{
    border-radius: 2rem;
    width: 70%;
    height: 70%;
}

.project-title {
    margin: 1rem;
    color: aliceblue;
    height: 5vh;
}

.project-btn {
    /* color: aliceblue;
    border-color: rgb(163, 163, 163); */
    display: inline-block;
}

/* CONTACT SESSION */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
    height: 2rem;
}

.textLink{
    cursor: pointer;
}

/* FOOTER SECTION */
.nav-links-container{
    padding: 1rem;
    background: black;
    box-shadow: 0 5px 25px #3ac0af;
    border-radius: 25px;
    position: fixed;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 15%);
    z-index: 1;
    text-align: center;
}

.nav-links-container a{
    cursor: pointer;
}

footer{
    height: 26vh;
    margin: 0.1rem;
}

footer p{
    text-align: center;
}